<header class="header">
  <a href="/" class="link">PWA SAMPLE APP</a>
</header>

<style>
  .header {
    padding-inline: 16px;
    padding-block: 24px;
  }

  .link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }
</style>
