---
import Button from '@/components/Button.astro';
---

<div class="container">
  <Button data-request-notification>通知を許可する</Button>
  <Button data-notification>モック通知を送信</Button>
  <Button data-redirect-notification>モック通知を送信して通知からURL遷移</Button>
</div>

<style>
  .container {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
  }
</style>

<script>
  import { BASE_URL } from '@/const';

  const sendMockNotification = async () => {
    const permission = await Notification.requestPermission();

    if (permission !== 'granted') {
      alert('通知が拒否されました');
      return;
    }

    const registration = await navigator.serviceWorker.getRegistration();

    if (registration) {
      try {
        registration.showNotification('充電完了', {
          body: '充電が完了しました。',
          icon: '512x512.png',
        });
      } catch (error) {
        console.error('通知の送信に失敗しました:', error);
        return;
      }
    } else {
      alert('Service Workerが登録されていません');
    }
  };

  const sendRedirectNotification = async () => {
    const permission = await Notification.requestPermission();

    if (permission !== 'granted') {
      alert('通知が拒否されました');
      return;
    }

    const registration = await navigator.serviceWorker.getRegistration();

    if (registration) {
      try {
        registration.showNotification('遷移通知', {
          body: 'クリックで地図ページへ移動します',
          data: {
            url: `${BASE_URL}/map`,
          },
        });
      } catch (error) {
        console.error('通知の送信に失敗しました:', error);
        return;
      }
    } else {
      alert('Service Workerが登録されていません');
    }
  };

  const requestNotificationPermission = async () => {
    const permission = await Notification.requestPermission();
    console.log('通知権限:', permission);
  };

  document.querySelector('[data-request-notification]')!.addEventListener('click', requestNotificationPermission);
  document.querySelector('[data-notification]')!.addEventListener('click', sendMockNotification);
  document.querySelector('[data-redirect-notification]')!.addEventListener('click', sendRedirectNotification);
</script>
